{% extends "encyclopedia/layout.html" %}

{% block title %}
    Encyclopedia
{% endblock %}

{% block body %}
    <div class="container">
        <h2 class="mt-5 mb-5">All Pages</h2>
        <ul>
            {% for entry in entries %}
            <div class="d-flex">
                <span class="entry">{{forloop.counter}}. </span>
                <li class="entry"><a href={% url 'entry' entry %}>{{ entry }}</a></li>
            </div>
                
            {% endfor %}
        </ul>   
    </div>


{% endblock %}