{% extends 'encyclopedia/layout.html' %}

{% block title %}
    Search
{% endblock %}

{% block body %}
<div class="container">
    <h2 class="mt-5 mb-5">Search Results: </h2>
    <ul>
    {% for item in searched %}
        <div class="d-flex">
            <span class="entry">{{forloop.counter}}. </span>
            <li class="entry"><a href=/wiki/{{item}}>{{ item }}</a></li>
        </div>
        {% empty %}
            <span class="alert alert-danger">Wiki "{{ wiki_item }}" not found!</span>
    {% endfor %}    
    </ul>

    <a class="btn btn-success mt-5" href={% url 'index' %}>Return to home.</a>
</div>

{% endblock %}